*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background-color:black;
    height: 60px;
    align-items: center;
    color: white;
    padding-left:40px;

}
.nav-div-1{
    display: flex;
    align-items: center;
}
.logo-img{
    font-size:25px;
    margin-right: 10px;
}
.logo-text{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.nav-div-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.li:hover{
    color: rgb(79, 79, 241);
}
.nav-list{
    display: flex;
}

li{
    list-style: none;
    margin:0px 20px;
}
a{
    text-decoration: none;
    color:white;
}
.submenu{
    display: none;
    width: 200px;
}
.dropdown:hover .submenu{
    background-color:hsl(240, 10%, 12%);
    color:white;
    display: block;
    position: absolute;
}
.vm{
    margin: 10px 10px;
}
.vm:hover{
    padding-left: 20px;
    transition: 1s;
}
.subscribe-div{
    margin-left: 600px;
}
.subscribe-btn{
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
}
/*For Banner*/
.banner{
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width:100%;
    display: flex;
    flex-direction:column;
}
.banner-div{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 150px;
}
.banner-text{
    font-size:45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
}
.banner-text-small{
    font-size: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-btn{
    margin-left: 150px;
    margin-top: 20px;
}
.banner-btn-1{
    background-color: rgb(59, 113, 160);
    padding: 10px;
    border-radius: 20px;
    margin-right: 30px;
}
.banner-below-text-1{
    margin:30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight: bolder;
    line-height: 30px;
}
/*For Counting Section*/
.count{
    display: flex;
    justify-content:space-evenly;
    width:100%;
    margin: auto;
    margin-top: 20px;
}
.sub-count{
    display: flex;
    flex-direction: column;

}
.counts{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.count-word{
    font-size: 20px;
    font-weight: bolder;
}
.bbt-2{
    font-size:20px;
    font-weight: lighter;
}
.dummy-div{
    background-color: antiquewhite;
    padding: 10px;
    margin:20px 0px;
}
.features{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    align-items: center;
}
.features-head{
    font-size: 35px;
    font-weight: bolder;
}
.features-div{
    display: flex;
}
.features-content{
    margin:0px 10px;
    font-size: 19px;
    padding: 10px;
    height: 120px;
}
.features-img-all{
    height: 200px;
    margin-top: -30px;
    margin-right: -50px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.features-btn{
    display: flex;
    justify-content: center;
}
.features-btn span{
    background-color: rgb(161, 161, 161);
    margin:10px 10px;
    padding: 10px;
    border-radius: 20px;
}
/* For All Card*/
.card{
    display: flex;
    height: 200px;
    width: 900px;
    margin: 20px auto ;
    padding: 20px;
}
.shadow{
    background-color: grey;
}
.card-img-1{
    height: 160px;
    margin-top:15px;
    margin-left: 25px;

}
.card-text-1{
    margin: 10px 20px;
    margin-bottom: 20px;
}
.btn-1{
    background-color: rgb(67, 123, 196);
    padding: 10px;
    border-radius: 10px;
    margin-left: 200px;
}
.paint-btn{
    margin-top:10px;
}
.card-2,.card-4{
    flex-direction: row-reverse;
}
.card-div{
    width: 600px;
    margin:0px 20px;
    padding:10px;
}
.card-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:bolder;
    letter-spacing: 3px;
}
.service-img{
    margin-left: 120px;
}
/*For booking*/
.demo{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 600px;
    background-color: rgb(216, 213, 213);
    border-radius: 20px;
    margin:10px auto 30px auto;
    padding: 10px 20px;
    align-items: center;
}
.demo-text-1{
    font-size: 25px;
    font-weight: bolder;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.demo-text-2{
    font-size: 18px;
}
.book-btn{
    background-color: rgb(17, 112, 202);
    padding:10px;
    border-radius:20px;
    color: white;
}
/*For SHowing Working Process*/
.work{
    display: flex;
    flex-direction:column;
    width:80%;
    align-items:center;
    margin: 10px auto;
    padding: 0px 20px;
}
.work-div-2{
    display: flex;
    justify-content: space-evenly;
}
.work-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin:15px 10px;
    width: auto;
    border-radius: 20px;
    background-color: rgb(243, 218, 241);
    width: 340px;
}
.work-heading{
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}
.work-card-heading{
    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin:10px 0px;
}
.work-card-content{
    font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*For App Promotion*/
.app-promo{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin:20px auto;
    padding: 20px;
}
.app-promo-text{
    padding: 10px;
    margin-top:30px;
}
.app-promo-head{
    font-size: 30px;
    font-weight:bolder;
}
.description{
    font-size: 20px;
    margin:10px;
    padding-left:10px;
}
.app-promo-img{
    height:300px;
}
.download-app{
    margin-left: 100px;
}
.download-icon{
    height: 50px;
    margin: 20px 10px;
}
/*For Footer Section*/
.footer{
    background-color: rgb(159, 154, 233);/*rgb(124, 118, 209)*/
    width: 100%;
    height: 260px;
    font-size: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    height: 170px;
    width: 90%;
    margin:auto;
}
.footer-div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
.footer-logo{
    height: 150px;
}
.footer-head,.footer-list-1{
    display: flex;
    flex-direction: column;
}
.footer-head{
    font-size: 25px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer-services-div{
    height:160px;
}
.footer-list-1{
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-list-2{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-left: 20px;
}
.li-1{
    margin: 3px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.address-div,.address-value{
    display: flex;
    flex-direction: column;
}
.address-head{
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
}
.address-value{
    margin-left: 20px;
}
.icon{
    height: 20px;
}
.footer-empty-div{
    height: 250px;
    width: 200px;
}
.copy-right{
    width:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 400px;
    color: white;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.dpp{
    margin: 5px 10px;
}
.app-icon{
    margin: 20px;
    font-size: 30px;
}